
# Everything from the workbench is ignored from the top level. We add few
# Exceptions
/officina/**/**.csv
/officina/**/**.tab
/officina/**/**.tsv
/officina/**/**.txt
/officina/**/**.xlsx
/officina/**/**.zip
/officina/**/**.gz
/officina/**/**.svg
/officina/**/**.codex.md
/officina/**/**.codex.adoc
/officina/**/**.codex.epub
/officina/**/**.codex.mobi
/officina/**/**.ttf
/officina/**/**.otf
/officina/**/**.xml
/officina/**/**.tmx
/officina/**/**.tbx
/officina/**/**.png
/officina/**/**.jpg
/officina/**/**.json
/officina/**/**.jsonl
/officina/**/**.statum.yml
/officina/**/**.db
/officina/**/**.sqlite
/officina/**/**.skos.ttl
/officina/**/**.ttl
/officina/**/**.dot
officina/1603/1603.statum.yml
!officina/999999999/1568346/data/unesco-thesaurus.bcp47g.tsv
!officina/999999999/1568346/data/unesco-thesaurus.tm.hxl.tsv
!officina/999999999/1568346/data/unesco-thesaurus~statement.xrdf.hxl.csv
!officina/999999999/1568346/data/cod-ab-example1.bcp47.tsv
# !officina/999999999/1568346/data/cod-ab-example2.bcp47.tsv
!officina/999999999/1568346/data/cod-ab-example1-with-inferences.bcp47.tsv
!officina/999999999/1568346/data/cod-ab-example1-with-inferences.no1.hxl.tm.tsv
!officina/999999999/1568346/data/hxlstandard-rdf-namespaces-hardcoded.hxl.csv
!officina/999999999/1568346/data/hxlstandard-rdf-namespaces-example.hxl.csv
# /officina/README.md
/officina/LICENSE.md
/officina/README.md
/officina/package.json
/officina/package-lock.json
/officina/node_modules
*~lock.*

/officina/**/**\.~[0-9]/*
!/officina/**/**\.~[0-9]/.gitkeep

#### The _de facto_ automation scripts _________________________________________
# The script folder can be tracked freely
# !/officina/999999/**/README.md
!officina/999999999
!officina/999999999/0/codex_copertae.svg

### officina/1603/1/1 (handcrafted data tables) _______________________________
# Anything on the 1613 is manual work.
!officina/1603/1/1/1603_1_1.no1.tm.hxl.csv
!officina/1603/1/6/1603_1_6.no1.tm.hxl.csv
!officina/1603/1/7/1603_1_7.no1.tm.hxl.csv
!officina/1603/1/51/1603_1_51.no1.tm.hxl.csv
!officina/1603/1/101/1603_1_101.no1.tm.hxl.csv

### 1603_45_49 (no1 only): automated table, but important at international
!officina/1603/45/49/1603_45_49.no1.tm.hxl.csv

### officina/1679/1/1 (handcrafted data tables) _______________________________
# Anything on the 1679 is manual work.
!officina/1679/1/1/1679_1_1.no1.tm.hxl.csv

### officina/1613 (handcrafted data tables) ___________________________________
# Anything on the 1613 is manual work. 
!officina/1613
!officina/1613/*
!officina/1603/17*
!officina/1603/17/*
!officina/1603/17/*/*
!officina/1603/17/*/*/*

### Other exceptions ___________________________________________________________
!/officina/**/.gitkeep
!/officina/.editorconfig


# git check-ignore officina/1613


# officina$ git check-ignore --verbose 1613
# git check-ignore --verbose officina/999999/README.md